PORT=3000
# 数据库配置
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=yourdatabase_name
# jwt配置
JWT_SECRET=your_jwt_secret_key
# 腾讯云COS配置
TENCENT_SECRET_ID=your_SecretId
TENCENT_SECRET_KEY=your_SecretKey
TENCENT_COS_REGION=your_region
TENCENT_COS_BUCKET=your_bucket_name
# 邮件配置
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=your_email_from

REDIS_URL=your_redis_url
# 前端地址
FRONTEND_URL=your_frontend_url